# ignore these
*.sqlsuo
*.exe
*.data
*.suo
*.com
*.dll
*.exe
*.o
*.so
DotNetFX35/
bin/
obj/
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
removeDeletedFiles
*.pdb
!DocX.dll
*.xcuserstate
!ClosedXML.dll
!ClosedXML.XML
!DocumentFormat.OpenXml.dll